footer.footer
	button(href="#" data-link='.slider').go.go__up.fa.fa-chevron-up.footer__up-arrow
	.footer__wrapper
		.footer_row
			.footer__left
				.footer-menu
					ul.footer-menu__list
						each item in ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
							li.footer-menu__item
								a(href="#").footer-menu__link= item
			.footer__right
				ul.socials__list.footer__socials
					each item in [{name: 'vkontakte', width: '23', height: '13'}, {name: 'github', width: '20', height: '16'}, {name: 'instagram', width: '18', height: '17'}]
						li.socials__item.footer__socials-item
							a(href="#" class=` socials__link socials__link--${item.name} footer__socials-link`)
								span.socials__text= item.name
								svg.icon.footer__socials-icon(width=`${item.width}` height=`${item.height}`)
									use(xlink:href=`#${item.name}`)
								svg.icon(class=`footer__socials-icon footer__socials-icon--round` width="36" height="36")
									use(xlink:href=`#${item.name}_round`)
		.footer_row
			.footer__left
				p.footer__quote «Если беспорядок на столе означает беспорядок в голове, то что же тогда означает пустой стол?»
			.footer__right
				p.footer__right-text © Руслан Багаутдинов | I boldly go where my dream is | 2016